.nav-items{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(160, 158, 160);
    
}
.nav-logo>img{
    height: 100px;
    width: 150px;
}
.nav-items >  .nav-comp {
    display: flex;
    justify-content: space-between;
}
.nav-items > .nav-comp >ul{
    display: flex;
    justify-content: space-between;
}
.nav-items > .nav-comp >button {
    height: 50px;
    margin-top: 20px;
    margin-right: 10px;
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .nav-items > .nav-comp >button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .nav-items > .nav-comp >button:hover {
    background-color: #2c974b;
  }
  
  .nav-items > .nav-comp >button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .nav-items > .nav-comp >button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .nav-items > .nav-comp >button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
.nav-comp >ul > li{
    padding: 20px;
    list-style-type: none;
}
.Body{
    margin-top: 20px;
    height: 300px;
    width: 100%;
    
    
}
.Body-img > img{
    height:170px;
    width: 190px;
    padding-right: 5px;
    padding-left: 8px;
    
}
.cards {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    
    
  }
  
  /* Added styling for the individual Restaurant component */
.reasturants {
    padding: 10px;
    background-color: #d0cccc;
    margin: 10px;
    border-radius: 25px;
    width: 230px;
}

.reasturants:hover{
    cursor: pointer;
    border: 1px solid blueviolet;
}

.flt-btn{
    background-color: rgb(255, 168, 6);
    border: none;
    color: white;
    padding: 10px;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bolder;
    border-radius: 8px;
    cursor :pointer;
}

.features{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
}

